

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.fontClass{
  font-family: 'Delicious Handrawn', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box{
  animation: box 1s ease-in-out 0s 1 forwards;
}

@keyframes box {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


.slideDown{
  animation: slideDown 1s ease-in-out 0s 1 forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform:translateY(0vh);
  }
}

.slideLeft{
  animation: slideLeft 1s ease-in-out 0s 1 forwards;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform:translateX(0);
  }
}


.slideRight{
  animation: slideRight 1s ease-in-out 0s 1 forwards;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform:translateX(0);
  }
}

.slideTop{
  animation: slideTop 1s ease-in-out 0s 1 forwards;
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform:translateX(0);
  }
}